/* header styles */
.navigation {
    display: inline-block;
    vertical-align: middle;
    padding-top: 84.36px;
    padding-bottom: 84.36px;
   }
.nav-li {
    display: inline-block;
    margin-right: 30px;
}
.li {
    font-size: 20px;
    color: #274C5B;
}
.logo {
    vertical-align: middle;
    width: 198.79px;
    height: 53.72px;
    margin-right: 150px;
    margin-left: 162px;
}
.header-bg {
    background-color: #FFFFFF;
}
/* main styles */
.main-bg {
    background-color: #F9F8F8;
}
.main-content-left {
    display: inline-block;
    width: 671px;
    vertical-align: top;
    text-align: left;
}
.title {
    font-size: 36px;
    color: #7EB693;
    padding-right: 316px;
    margin-bottom: 6px;
    text-align: left;
}
.slogan {
    font-size: 50px;
    color: #274C5B;
    width: 524px;
    height: 118px;
}
.slogan-description {
    font-size: 18px;
    color: #525C60;
    margin-top: 25px;
    margin-bottom: 36px;
}
.point-title {
    font-size: 20px;
    color: #274C5B;
    display: inline-block;
}
.point-description1 {
    font-size: 18px;
    color: #525C60;
    margin-top: 12px;
    margin-bottom: 24px;
}
.point-description2 {
    font-size: 18px;
    color: #525C60;
    margin-top: 12px;
}
.point-box {
    background-color: #ECECEC;
    width: 339px;
    height: 81px;
}
.point-icon {
   vertical-align: middle; 
}
.main-content-right {
    display: inline-block;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    margin-left: 51px;
    /* vertical-align: top; */
}
.main-content-block {
    width: 1,400px;
    height: 624px;
    padding-top: 49.28px;
    text-align: center;
}
/* policy section styles */
.policy-box {
    display: inline-block;
    width: 257px;
    height: 335px;
    background-color: #FFFFFF;
    margin-left: 30px;
}
.policy-text {
    text-align: center;
    font-size: 18px;
    color: #525C60;
    margin-top: 20px;
    padding: 0px 37px 142px 36px;
}
.policy-title {
    font-size: 25px;
    color: #274C5B;
    padding: 29px 83px 0px 22px;
}
.container-block {
    width: 1,118px;
    padding-top: 91px;
    padding-bottom: 189px;
    text-align: center;
    /* margin: auto;-მ არ იმუშავა*/
}

